/* Footer.css */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    font-size: 14px;
  }
  
  .footer-content a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  